In [21]:
#Câu 1: Xây dựng một hệ thống quản lý thư viện đơn giản với các yêu cầu sau:
#Tạo class Book với các thuộc tính: title, author, isbn, status (available/borrowed)
class Book:
  def __init__(self, title, author, isbn, status):
    self.title = title
    self.author = author
    self.isbn = isbn
    self.status = "available"
  def __str__(self):
    return f"Title: {self.title}, Author: {self.author}, ISBN: {self.isbn}, Status: {self.status}"

In [10]:
b1 = Book('Harry Potter', 'J.K. Rowling', '9780747532743', 'available')
b2 = Book('To Kill a Mockingbird', 'Harper Lee', '9780061120084', 'available')
b3 = Book('The Great Gatsby', 'F. Scott Fitzgerald', '9780743273565', 'available')

In [20]:
#Tạo class Library để quản lý danh sách sách với các phương thức:

class Library:
  def __init__(self):
    self.books = []
#o add_book(): Thêm sách mới
  def add_book(self, book):
        self.books.append(book)
        print("Sách đã được thêm vào thư viện.")
#o remove_book(): Xóa sách theo ISBN
  def remove_book(self, isbn):
        for book in self.books:
            if book.isbn == isbn:
                self.books.remove(book)
                print("Sách đã được xóa khỏi thư viện.")
                return
        print("Không tìm thấy sách có ISBN này.")
#o borrow_book(): Mượn sách
  def borrow_book(self, isbn):
        for book in self.books:
            if book.isbn == isbn and book.status == "available":
                book.status = "borrowed"
                print("Bạn đã mượn sách thành công.")
                return
        print("Sách không có sẵn hoặc không tồn tại.")
#o return_book(): Trả sách
  def return_book(self, isbn):
        for book in self.books:
            if book.isbn == isbn and book.status == "borrowed":
                book.status = "available"
                print("Bạn đã trả sách thành công.")
                return
        print("Sách không được mượn hoặc không tồn tại.")
#o display_books(): Hiển thị danh sách sách
  def display_books(self):
        if not self.books:
            print("Thư viện hiện không có sách.")
        else:
            print("Danh sách sách:")
            for book in self.books:
                print(book)

In [22]:
Library = Library()
Library.add_book(b1)
Library.add_book(b2)
Library.add_book(b3)

Sách đã được thêm vào thư viện.
Sách đã được thêm vào thư viện.
Sách đã được thêm vào thư viện.

In [28]:
b4 = Book('1984', 'George Orwell', '9780452262507', 'available')
Library.add_book(b4)
Library.display_books()

Sách đã được thêm vào thư viện.
Danh sách sách:
Title: Harry Potter, Author: J.K. Rowling, ISBN: 9780747532743, Status: available
Title: To Kill a Mockingbird, Author: Harper Lee, ISBN: 9780061120084, Status: available
Title: The Great Gatsby, Author: F. Scott Fitzgerald, ISBN: 9780743273565, Status: available
Title: 1984, Author: George Orwell, ISBN: 9780452262507, Status: available
Title: 1984, Author: George Orwell, ISBN: 9780452262507, Status: available

In [29]:
Library.remove_book('9780747532743')
Library.display_books()

Sách đã được xóa khỏi thư viện.
Danh sách sách:
Title: To Kill a Mockingbird, Author: Harper Lee, ISBN: 9780061120084, Status: available
Title: The Great Gatsby, Author: F. Scott Fitzgerald, ISBN: 9780743273565, Status: available
Title: 1984, Author: George Orwell, ISBN: 9780452262507, Status: available
Title: 1984, Author: George Orwell, ISBN: 9780452262507, Status: available

In [33]:
Library.borrow_book('9780452262507')

Bạn đã mượn sách thành công.

In [34]:
Library.return_book('9780452262507')

Bạn đã trả sách thành công.

In [4]:
#Câu 2: Tạo class Account với các thuộc tính: account_number, owner_name, balance
class Account:
  def __init__(self, account_number, owner_name, balance):
    self.account_number = account_number
    self.owner_name = owner_name
    self.balance = balance

#Tạo các phương thức:
#deposit(): Nạp tiền
  def deposit(self, amount):
    self.balance += amount
    print(f"Nạp tiền thành công. Số dư hiện tại: {self.balance}")

#withdraw(): Rút tiền (có kiểm tra số dư)
  def withdraw(self, amount):
    if self.balance >= amount:
      self.balance -= amount
      print(f"Rút tiền thành công. Số dư hiện tại: {self.balance}")

#get_balance(): Xem số dư
  def get_balance(self):
    print(f"Số dư hiện tại: {self.balance}")

#transfer(): Chuyển tiền sang tài khoản khác
  def transfer(self, amount, target_account):
    if self.balance >= amount:
      self.balance -= amount
      target_account.deposit(amount)
      print(f"Chuyển tiền thành công. Số dư hiện tại: {self.balance}")

#Tạo phương thức để in thông tin tài khoản
  def __str__(self):
    return f"Tài khoản: {self.account_number}, Chủ sở hữu: {self.owner_name}, Số dư: {self.balance}"

In [5]:
acc1 = Account('185', 'Hân', 1000000)
acc2 = Account('130', 'Dương', 5000000)
acc3 = Account('244', 'Duyên', 3000000)

In [7]:
acc1.deposit(1000000)

Nạp tiền thành công. Số dư hiện tại: 2000000

In [8]:
acc2.withdraw(1500000)

Rút tiền thành công. Số dư hiện tại: 3500000

In [9]:
acc3.transfer(1000000, acc1)

Nạp tiền thành công. Số dư hiện tại: 3000000
Chuyển tiền thành công. Số dư hiện tại: 2000000

In [99]:
#Câu 3: Tạo class abstract Employee với các thuộc tính cơ bản: id, name, salary
class Employee:
  def __init__(self, id, name, salary):
    self.id = id
    self.name = name
    self.salary = salary
  def tinhLuong(self):
        return self.salary

  def __str__(self):
        return f"ID: {self.id}, Tên: {self.name}, Lương: {self.salary}"

In [100]:
class Manager(Employee):
  def __init__(self, id, name, salary, bonus):
    super().__init__(id, name, salary)
    self.bonus = bonus

  def tinhLuong(self):
    return self.salary + self.bonus

ql = Manager(1, 'Hân', 10000000, 5000000)
ql.tinhLuong()

15000000

In [43]:
class Developer(Employee):
  def __init__(self, id, name, salary, project_bonus):
    super().__init__(id, name, salary)
    self.project_bonus = project_bonus

  def tinhLuong(self):
    return self.salary + self.project_bonus

dvl = Developer(2, 'Dương', 15000000, 7000000)
dvl.tinhLuong()

22000000

In [44]:
class Tester(Employee):
  def __init__(self, id, name, salary, bug_bonus):
    super().__init__(id, name, salary)
    self.bug_bonus = bug_bonus

  def tinhLuong(self):
    return self.salary + self.bug_bonus

tst = Tester(3, 'Duyên', 12000000, 6000000)
tst.tinhLuong()

18000000

In [101]:
class Department:
    def __init__(self):
        self.employees = []

    def add_employee(self, employee):
        self.employees.append(employee)
        print("Thêm nhân viên mới thành công")

    def remove_employee(self, id):
        for i, employee in enumerate(self.employees):
            if employee.id == id:
                del self.employees[i]
                print("Xóa nhân viên thành công")
                return
        print("Không tìm thấy nhân viên có ID này")

    def get_total_salary(self):
        total_salary = 0
        for employee in self.employees:
            total_salary += employee.tinhLuong()
        return total_salary

    def display_employees(self):
        if not self.employees:
            print("Hiện tại không có nhân viên.")
        else:
            print("Danh sách nhân viên:")
            for employee in self.employees:
                print(employee)

In [90]:
nv1 = Employee('003', 'Lan', 10000000)
nv2 = Employee('004', 'Huy', 20000000)
nv3 = Employee('001', 'Phương', 15000000)

In [91]:
Department = Department()
Department.add_employee(nv1)
Department.add_employee(nv2)
Department.add_employee(nv3)

Thêm nhân viên mới thành công
Thêm nhân viên mới thành công
Thêm nhân viên mới thành công

In [92]:
Department.remove_employee('003')
Department.display_employees()

Xóa nhân viên thành công
Danh sách nhân viên:
<__main__.Employee object at 0x7806892a1ab0>
<__main__.Employee object at 0x7806892a3160>

In [106]:
Department = Department()
Department.get_total_salary()

0